 /*You can always change things around and add as you see fit, especially alignments
 Side links too.
*/

body{
    background-image: url('unioncity.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

h1, h2{
    font-family: 'Libre Baskerville', serif;
    color: rgb(2, 2, 41);
}

p{
    color: rgb(2, 2, 41);
    font-family: 'PT Serif', serif;
}
.mainSection{
    margin: 4vw;
    background-color: rgb(245, 244, 240);
    border-radius: 1vw;
    padding: 3vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  figCaption {
      color: rgb(35, 35, 49);
      text-align: center;
      vertical-align: middle;
      font-family: 'PT Serif', serif;
  }

  figure {
    float: left;
    background: rgb(215, 216, 199);
    margin-right:15px;
  }



  .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid rgb(231, 220, 220);
  }
  
  #articleImage1 {
      height:200px;
      width:400px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }